<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <section>
    <% if current_user.github_repos != nil %>
    <h1>GitHub Repos</h1>
    <ul id="github-repos">
      <% current_user.github_repos.each do |repo| %>
      <li><%= link_to repo.name, repo.html_url %>
        <% end %>
    </ul>
    <% end %>
  </section>

  <section>
    <% if current_user.github_followers != nil %>
    <h1>Followers</h1>
    <ul id="github-followers">
      <% current_user.github_followers.each do |follower| %>
      <li><%= link_to follower.login, follower.html_url %>
        <% end %>
    </ul>
    <% end %>
  </section>

</section>